h1 {
  color: black;
  margin: 30px;
  margin-left: 20px;
  padding: 10px;
}
* {
  border-color: rgb(0, 0, 0);
}
.header {
  background-color: gold;
  display: flex;
  justify-content: space-evenly;
}
.menu {
  background-color: #ddd;
}
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.first {
  border: solid;
  position: relative;
}
.first p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  opacity: 0;
}
.first:hover p {
  opacity: 1;
}
a:hover .footer {
  border: solid;
  display: flex;
  justify-content: flex-end;
}
p {
  text-align: left;
}
a:link {
  color: #af7825;
}
a:visited {
  color: rgb(31, 133, 99);
}
